.post-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.post-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  max-width: 500px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08)
}

.post-modal-content h2 {
  margin-top: 0;
}

.post-modal-content form div {
  margin-bottom: 15px;
}

.post-modal-content label {
  display: block;
  margin-bottom: 5px;
}

.post-modal-content input,
.post-modal-content textarea {
  width: 100%;
  padding: 5px;
}

.post-modal-content textarea {
  height: 100px;
}

.post-modal-actions {
  display: flex;
  justify-content: flex-end;
}

.post-modal-actions button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.post-modal-actions button:hover {
  background-color: #0056b3;
}