.post {
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 6px;
    padding: 5px;
}

.post .content {
    border-bottom: 1px solid black;
    font-size: 14px;
}

.post .stats .createdAt {
    font-size: 8px;
    color: grey;
}
