.profile {
    width: 350px;
    height: 200px;
    background: url('http://localhost:3000/forest.jpg');
}

.profile > .banner {
    height: 50%;
}

.profile > .user {
    height: 50%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.8);
}

.profile .displayName {
    margin: 0.1em 0.3em;
}

.profile .userName {
    margin: 0.1em 0.3em;
}

.profile .description {
    margin: 0.1em 0.3em;
    color: grey;
}